<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../css/style.css")
    title BEHA
body
    header
        p Aerografiya.uz
        p художественная мастерская  Екатерины Ковшовой
        nav
            ul
                li Главная
                li Аэрография
                li Портфолио
                li Контакты
    nav
        ul
            li Все работы
            li Авто-Мото
            li Бытовая техника
            li Интерьеры
            li Мебель
            li Музыкальные инструменты
            li Оргтехника
            li Реставрация
            li Спортивное снаряжение
    section
        p Авто-Мото
        p Аэрография - наилучший способ передать индивидуальность характера автомобиля и его хозяина. Любые особенные предпочтения, интересы и замыслы. Это красиво и безусловно модно.
        .avto_moto
            img