html, body{
	width: 100%;
	background-color: $brown-light;
}
.wrapper{
	display: block;
	width: 960px;
	margin: 0 auto;

}
.main_section{
	position: relative;
	border-top: dashed $brown-text 2px;
	border-bottom: dashed $brown-text 2px;
}

.is_active{
	color: $white;
}

.menu{


	font-size: 16pt;
	color: $orange;
	float: right;
	li{
		margin-left: 15px;
		display: inline;
	}
}