footer{
  background-color: $brown;
  font-family: 'robotoslab regular';
  font-size: 14pt;

  p {
    color: $brown-text;
  }

  img{
    background-color: $orange;
    margin-right: 10px;
  }
  button{
    color: $white;
    background-color: $orange;
    border: none;
    width: 134px;
  }

}
.social{
  display: flex;
  border-bottom: dashed $brown-text 2px;
  padding-bottom: 40px;

}

.about{

  text-align: left;
  p:first-child{
    margin-top: 0px;
    color: $orange;
    padding-top: 40px;
    font-size: 18pt;
  }
}

.copyright{

  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: inline-block;
  p {
    margin: 0;
    float: left;
    color: $orange;
  }
  span{
    color: $white;
    padding-right: 7px;
  }

}